:root {
    --sidebar-width: 220px;
}

.sidebar > .sidebar-nav > ul > li {
    font-size: 16px;
    font-weight: bold;
    & > a,
    & > p {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }
    & li {
        font-weight: normal;
        font-size: 14px;
    }
}
.strong {
    font-weight: bold;
    color: red;
}

.sidebar {
    width: var(--sidebar-width);
}

.content {
    left: var(--sidebar-width);
}

.sidebar-toggle-button {
    span {
        width: 24px;
        height: 4px;
    }
}

.markdown-section#main {
    & pre > code {
        padding: 1rem 5px;
    }
    /*字数统计不占用文档流*/
    & > div:first-child {
        position: absolute;
        right: 0;
    }
}

@media (max-width: 1920px) {
    .markdown-section {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .content {
        padding-top: 0;
    }
    body.close .content {
        transform: translateX(var(--sidebar-width));
    }
    .markdown-section {
        max-width: 96%;

        & h1 {
            font-size: 1.4rem;
        }
        & h2 {
            font-size: 1.2rem;
            margin: 1.4rem 0 0.8rem 0;
        }
        & h3 {
            font-size: 1rem;
        }
        & h4 {
            font-size: 0.8rem;
        }
        & h5 {
            font-size: 0.6rem;
        }
        & h6 {
            font-size: 0.4rem;
        }
    }
}
